@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #FFFFFF;
  }
}

@font-face {
  font-family: 'Core Sans';
  src: url('../../public/CoreSansD75Black.otf') format('opentype');
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Core Sans', monospace;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Increase size to create the "pop" effect */
  }
  100% {
    transform: scale(1); /* Return to original size */
  }
}

.pop-animation {
  animation: pop 0.3s ease-in-out; /* Adjust the duration as needed */
}